<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.86, maximum-scale=0.86, minimum-scale=0.86">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/header.css">
    <title>Election Search Results</title>
  </head>
  <body>
    <%- include("header", {query: query, host: host}) %>
    <% if (articles.hits.total.value === 0) {%>
      <span style="text-align: center; font-size: 20px; padding: 20px 0px; color: #FF0000">No Results Found</span>
    <% } %>
    <ul>
      <% articles.hits.hits.forEach((article) => { %>
        <li>
          <a href=<%- article._source.url %>>
            <h3><%- article._source.title %></h3>
            <h5 style="margin:0px;padding:0px;"><%- article._score %></h5>
            <span>
              <% const httpsplit = article._source.url.split("://"); %>
              <% const protocol = httpsplit[0]; %>
              <% const host = []; %>
              <% const subdomains = httpsplit[1].split("."); %>
              <% for (let i = 0; i < subdomains.length; i++) { %>
                <% const subdomain = subdomains[i] %>
                <% if (subdomain.includes("/")) { %>
                  <% host.push(subdomain.split("/")[0]); %>
                  <% break; %>
                <% } %>
                <% host.push(subdomain); %>
              <% } %> 
              <%- `${protocol}://${host.join(".")}` %>
            </span>
          </a>
          <p>
            <% let slice = 1 %>
            <% let preview = "" %>
            <% let bodysplit = article._source.body.split(".") %>
            <% while (preview.length < 200 && slice <= bodysplit.length) { %>
              <% preview = bodysplit.slice(0, slice).join(".")  %>
              <% slice += 1 %>
            <% } %>
            <%- article._source.title2 || `${preview}.` || "" %>
          </p>
        </li>
      <% }) %>
    </ul>
    <div id="pagination">
      <% if (articles.hits.total.value > 0) {%>
        Page
        <% const max = Math.max(1, Math.min(10, articles.hits.total.value/10)) %>
        <% for (let i = 1; i <= max; i++) { %>
          <% if (i == page) { %>
            <%- i %>
          <% } else { %>
            <a href="<%- `${host}/search?q=${query.replace(' ', '+')}&page=${i}` %>"><%- i %></a>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </body>
</html>